h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    border: 2px solid grey;
    padding: 10px;
    margin: 20px 10px;
}

h2 {
    font-weight: 500px;
    font-size: 22px;
    font-family: 'Libre Franklin', sans-serif;
}

.color-panel {
    text-align: center;
    padding: 40px 30px;
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
    font-family: 'Bitter', serif;
}

.green {
    background-color: #c1f0dd;
}

.grey {
    background-color: #d7dbd9;
}

.pink {
    background-color: #f9b8f9;
}

.blue {
    background-color: #cce6ff;
}

.font-panel {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
}

.font-label {
    font-weight: 400;
    padding: 8px;
    border: 1px solid black;
    margin: 10px;
    width: fit-content;
}

.libre-franklin {
    font-family: 'Libre Franklin', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.red-hat-mono {
    font-family: 'Red Hat Mono', monospace;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

li, p {
    font-family: 'Bitter', serif;
}